{% extends "main/base.html" %}

{% block content %}

<style>
    .side-rtl * {
        direction: rtl;
    }
    .my_container {
    /* transform: rotate(0deg); */
    background-color: #ccf;
    padding: 5px 20px 15px 20px;
    /* border: 1px solid lightgrey; */
    border-radius: 3px;
  }
</style>

<br>
<div class="my_container">
    <div id="outer-circle"></div>
<div class="side-rtl">
<h2>הסטוריית קניות</h2>
</div>

<table class="table table-striped side-rtl">
    <thead>
        <tr>
            <th scope="col">תאריך</th>
            <th scope="col">מי צריכה להחזיר?</th>
            <th scope="col">מי שילמה?</th>
            <th scope="col">מחיר</th>
            <th scope="col">שם המוצר</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        {% for p in purchases %}
        <tr>
            <td>{{p.date}}</td>
            <td>{{p.getDebtorsNames}}</td>
            <td>{{p.getBuyersNames}}</td>
            <td>{{p.price}}</td>
            <td>{{p.item_name}}</td>
            <th scope="row">{{ forloop.counter0 }}</th>
        </tr>

        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}